<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6663962651-ppab3m3fa856u04jn56kupq47um31oh1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6663962651-ppab3m3fa856u04jn56kupq47um31oh1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>6663962651-nttqmric0elihbp75565ol3mf4c5fnei.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIIR2hccsU1ezFjtvQ7RhZesaJEfYrduY</string>
	<key>GCM_SENDER_ID</key>
	<string>6663962651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cafeFinderFireb</string>
	<key>PROJECT_ID</key>
	<string>coffee-fire</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-fire.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6663962651:ios:50ec93ceecc2650ce4f8be</string>
</dict>
</plist>